<h2> Welcome {{firstName}} </h2>

<div class="pcritique">
  <mat-form-field class="champ" appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom">
  </mat-form-field>

  <mat-form-field class="champ" appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="prenom">
  </mat-form-field>

  <mat-form-field class="champ" appearance="fill">
    <mat-label>Commentaire</mat-label>
    <textarea matInput formControlName="Commentaire"></textarea>
  </mat-form-field>

  <mat-form-field class="champ" appearance="fill">
    <mat-label>Note</mat-label>
    <input matInput formControlName="text" >
  </mat-form-field>

  <button mat-button class="champ">Enregistrer</button>

</div>


<button class="btn btn-primary">
    Press
</button>

