<h2> Welcome {{firstName}} </h2>

  <div class="pcritique" [formGroup]="critiqueFormGroup">
    <mat-form-field class="champ" appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="champ" appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="prenom">
    </mat-form-field>

    <mat-form-field class="champ" appearance="fill">
      <mat-label>Commentaire</mat-label>
      <textarea matInput formControlName="texte"></textarea>
    </mat-form-field>

    <mat-form-field class="champ" appearance="fill">
      <mat-label>Note</mat-label>
      <input matInput formControlName="note" >
    </mat-form-field>

    <button mat-button class="champ">Annuler</button>
    <button mat-button class="champ" (click)="onSubmit(critiqueFormGroup)" >Enregistrer</button>
  </div>

<ng-container >


